:root{
	--mainColor:#434343;
	--secondaryColor:#0C0C0C;

	--borderColor:#3A3226;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#1C1C1C;
	--previewShadow:#434343;


	--buttonColor:#080808;


}
