:root{
	--mainColor:#B1B479;
	--secondaryColor:#616138;

	--borderColor:#A5A051;

	--mainText:#B1B479;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#6C6A2D;
	--previewShadow:#939650;


	--buttonColor:#939650;


}
