:root{
	--mainColor:#787878;
	--secondaryColor:#BDC0BA;

	--borderColor:#BDC0BA;

	--mainText:#FFFFFB;
	--secondaryText:#60373E;

	--themeDotBorder:#FFF;

	--previewBg:#787878;
	--previewShadow:#FCFAF2;


	--buttonColor:#60373E;


}